.header img {
	position: fixed;
	left: 30px;
	z-index: 4;
}

.banner_top{
	position: fixed;
	top: 0px;
	background-color: white;
	shape-outside: square;
	opacity: 0.65;
	width: 100%;
	height: 65px;
	z-index: 2;
}

.header h1 {
	position: fixed;
	top: 20px;
	left: 140px;
	color: white;
	min-width: 300px;
	font-family: georgia ,serif;
	z-index: 2;
}

.banner_circle{
	wrap-flow: both;
	position: fixed;
	shape-outside: circle;
	background-color: white;
	width: 105px;
	height: 105px;
	left: 27.5px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	top: 6px;
	z-index: 4;
}

.banner{
	position: fixed;
	top: 25px;
	background-color: #C92727;
	shape-outside: square;
	width: 100%;
	height: 65px;
	border-bottom: white;
	border-top: white;
	border-bottom-style: solid;
	border-top-style: solid;
	z-index: 2;
}

.dropdown{
	position: fixed;
	top: 50px;
	left: 500px;
	z-index: 4;
}

.home_button img{
	position: fixed;
	top: 44px;
	left: 1218px;
	width: 35px;
	height: 35px;
}

.map_button img{
	position: fixed;
	top: 41px;
	left: 1170px;
	width: 43px;
	height: 43px;
}
.profile_button img{
	position: fixed;
	top: 39px;
	left: 1125px;
	width: 45px;
	height: 48px;
}

.map_button {
	position: absolute;
	background: transparent;
	border: none;
	top: 41px;
}
.home_button {
	position: absolute;
	background: transparent;
	border: none;
	top: 41px;
}
.profile_button {
	position: absolute;
	background: transparent;
	border: none;
	top: 41px;
}

.location_gallery{
	position: relative;
	top: 88px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.image {
	float: left;
}

.image img{
	width: 414px;
	height: 272px;
	margin: 4px;
}

.label{
	color: white;
	position: absolute;
	margin-top: -24px;
	margin-left: 10px;
	font-family: georgia ,serif;
	z-index: 1;
}
.labelbanner{
	opacity: 0.5;
	margin-left: 3px;
	margin-top: -29px;
	position: absolute;
	shape-outside: square;
	background-color: black;
	width: 246px;
	height: 25px;
}

.location_button{
	border: 0;
	margin: 0;
	padding:0;
	background: none;
}
form {
	margin-bottom: 0;
}

form#top-button {
	display: inline-block;
	width: 40px;
	margin: 0;
}

form#log-out {
	display: inline-block;
	width: 40px;
	margin: 0;
	text-align: right;
}

.detail_img{
	width: 100%;
	padding-top: 90px;
}

h2 {
	color: red;
}

#sign-up-form {
	display: inline-block;
	margin-top: 200px;
	text-align: center;
	width: 100%;
	position: absolute;
}

#top-buttons {
	display: inline-block;
	text-align: right;
	position: fixed;
	z-index: 2;
	right: 18px;
	top: 5px;
	width: 90px;
	height: 18px;
}

#top-buttons input {
	border: none;
	background: none;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10;
	color: rgb(16, 16, 146);
}

form#log-in-form {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 300px;
}

body {
	background-color: white;
	margin-left: 0px;
	margin-right: 0px;
}