<html>
<head>
	<link rel="shortcut icon" href="/images/logos/favicon.ico" >
	<title>27 Travel Locations</title>
</head>
<body>
<div class="header">
	<div class="banner"></div>
	<div class="banner_circle"></div>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
	<img src="/images/logos/main_logo.png"/>
	<h1>Travel Locations</h1>
</div>
<div>
	<%= yield %>
</div>
</body>
</html>