<form id='log-in-form' action='/sessions' method='post'>
	Email:<input name='email' type='text' autocomplete='off'>
	Password:<input name='password' type='password' autocomplete='off'>
	<input type='submit' value='Log In'>
</form>