<form id='sign-up-form' action='/users' method='post'>
	Email: <input name='email' type='text'>
	Password: <input name='password' type='password'>
	Password Confirmation: <input name='password_confirmation' type='password'>
	<input value='Sign up' type='submit'>
</form>